@use '@stylize/sass-func/unit' as *

$primary-bg: #3379ca
$primary-color: #fff

$secondary-bg: #415058
$secondary-color: #fff

$success-bg: #77cb4d
$success-color: #fff

$danger-bg: #e23636
$danger-color: #fff

$warning-bg: #edb95e
$warning-color: #fff

$light-bg: #f2f2f3
$light-color: #1f292e

$dark-bg: #1f292e
$dark-color: #f2f2f3

$font-size: rem(12px)

$offset-xs: rem(2px)
$offset-sm: rem(4px)
$offset-md: rem(6px)
$offset-lg: rem(8px)

$radius-xs: 4px
$radius-sm: 6px
$radius-md: 8px
