@use '../../styles/variables' as *

//=Badge: Common
$badge__radius: $radius-xs
$badge__padding: $offset-sm
$badge__min-width: 1em
$badge__font-size: $font-size
$badge__font-weight: normal

//=Badge: Rounded
$badge-rounded__radius: 10px

//=Badge: Variant
$badge-primary__bg: $primary-bg
$badge-primary__color: $primary-color

$badge-secondary__bg: $secondary-bg
$badge-secondary__color: $secondary-color

$badge-success__bg: $success-bg
$badge-success__color: $success-color

$badge-danger__bg: $danger-bg
$badge-danger__color: $danger-color

$badge-warning__bg: $warning-bg
$badge-warning__color: $warning-color
