@use '../../styles/vars' as *

//=Badge
$badge__radius: $radius-xs
$badge__padding: $offset-sm
$badge__min-width: 1em
$badge__font-size: $font-size
$badge__font-weight: normal

//=Badge: Dot
$badge-dot__padding: 3px

//=Badge: Rounded
$badge-rounded__radius: 10px
$badge-rounded__padding: $offset-sm $offset-md

//=Badge: Variant
$badge-primary__bg: $primary-bg
$badge-primary__color: $primary-color

$badge-standard__bg: $standard-bg
$badge-standard__color: $standard-color

$badge-success__bg: $success-bg
$badge-success__color: $success-color

$badge-danger__bg: $danger-bg
$badge-danger__color: $danger-color

$badge-warning__bg: $warning-bg
$badge-warning__color: $warning-color
